repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.6.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
